<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4">直近24時間の推移</h1>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="subtitle is-4">孤島サスペンスホラー</h1>
    </div>
  </div>
</section>

<div class="columns is-multiline">
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '主人公', cast: :heroine } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '友達', cast: :friend } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '先生', cast: :teacher } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '館の女主人', cast: :landlady } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'メイド', cast: :maid } %>
  </div>
</div>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="subtitle is-4">おとぎの国の物語</h1>
    </div>
  </div>
</section>

<div class="columns is-multiline">
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '少女', cast: :girl } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '妖精', cast: :fairy } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '魔法使い', cast: :witch } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'オオカミ', cast: :wolf } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: '旅人', cast: :traveller } %>
  </div>
</div>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="subtitle is-4">近未来アウトサイダー</h1>
    </div>
  </div>
</section>

<div class="columns is-multiline">
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'ダスク', cast: :dusk } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'バスターブレイド', cast: :busterblade } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'アマリリス', cast: :amaryllis } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'ベルベット', cast: :velvet } %>
  </div>
  <div class="column is-one-third">
    <%= render partial: 'cast_card', locals: { cast_name: 'ファイナルデイ', cast: :finalday } %>
  </div>
</div>
