<div>
  <%= link_to('新入生', scores_path(subject: 'shinnyusei')) %>
  <%= link_to('先輩', scores_path(subject: 'senpai')) %>
  <%= link_to('キング', scores_path(subject: 'king')) %>
  <%= link_to('右腕クイーン', scores_path(subject: 'migiude')) %>
  <%= link_to('同級生', scores_path(subject: 'doukyusei')) %>
</div>
<div>
  <%= link_to('長女', scores_path(subject: 'choujo')) %>
  <%= link_to('次女', scores_path(subject: 'jijo')) %>
  <%= link_to('三女', scores_path(subject: 'sanjo')) %>
  <%= link_to('ネコ', scores_path(subject: 'cat')) %>
  <%= link_to('お客さん', scores_path(subject: 'okyakusan')) %>
</div>
<div>
  <%= link_to('新ヒロイン', scores_path(subject: 'heroine')) %>
  <%= link_to('スタア', scores_path(subject: 'star')) %>
  <%= link_to('元大女優', scores_path(subject: 'daijoyu')) %>
  <%= link_to('支配人', scores_path(subject: 'shihainin')) %>
  <%= link_to('探偵', scores_path(subject: 'tantei')) %>
</div>
<%= high_chart('cat', @graph) %>
