<!DOCTYPE html>
<html>
  <head>
    <title>THE@TER CHALLENGE!!得票数推移</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-light">
          TC得票数グラフ
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span class="has-background-light" aria-hidden="true"></span>
          <span class="has-background-light" aria-hidden="true"></span>
          <span class="has-background-light" aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-background-dark">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable has-background-dark has-text-light">
            <a class="navbar-item has-background-dark has-text-light">
              超ビーチバレー
            </a>
            <div class="navbar-dropdown has-background-dark has-text-light">
              <%= link_to '新入生', 'shinnyusei', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '先輩', 'senpai', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to 'キング', 'king', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '右腕クイーン', 'migiude', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '同級生', 'doukyusei', class: 'navbar-item has-background-dark has-text-light' %>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable has-background-dark">
            <a class="navbar-item has-background-dark has-text-light">
              三姉妹カフェ
            </a>
            <div class="navbar-dropdown has-background-dark">
              <%= link_to '長女', 'choujo', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '次女', 'jijo', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '三女', 'sanjo', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to 'ネコ', 'cat', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to 'お客さん', 'okyakusan', class: 'navbar-item has-background-dark has-text-light' %>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable has-background-dark">
            <a class="navbar-item has-background-dark has-text-light">
              劇場サスペンス
            </a>
            <div class="navbar-dropdown has-background-dark has-text-light">
              <%= link_to '新ヒロイン', 'heroine', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to 'スタア', 'star', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '元大女優', 'daijoyu', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '支配人', 'shihainin', class: 'navbar-item has-background-dark has-text-light' %>
              <%= link_to '探偵', 'tantei', class: 'navbar-item has-background-dark has-text-light' %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
